// Font size
$font-size: 20px;
$font-weight: 400;

// Colors
$color-darker-blue: #031c42;
$color-off-white: #f1f1f1;

// Heights
$height-header: 60px;
$height-main: 1000px;
$height-main-desktop: 800px;
$height-post: 600px;

p {
    //color: $color-off-white;
    //font-size: $font-size;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    //font-weight: 500;
}

.headers2 {
    background-color: #1D1D1D;
    position: fixed;
    height: $height-header;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    opacity: 0.9;
    z-index: 10;
}

.header-logo, .header-title, .header-login {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $font-size;
    font-weight: 500;
}

.header-logo {
    justify-content: flex-start !important;
    padding-left: 30px;
}

.header-title {
    font-size: 25px;
    font-weight: bold;
}

.header-login {
    border-style: solid;
    border-color: white;
    margin-left: 50px;
    margin-right: 50px;
    opacity: 0.8;
}

.header-login:hover {
    cursor: pointer;
    opacity: 1;
}