// Colors
$color-black: #000000;

// Height
$height-modal: 500px;
$height-modal-desktop: 600px;

// Font size
$font-size-button: 25px;
$font-size-subcategory: 18px;
$font-size-details: 15px;

// Font weight
$font-weight-subcategory: 600;

// Breakpoints
$bp-mobile: 420px;
$bp-tablet: 1023px;
$bp-desktop-22: 1680px;
@mixin for-size($size) {
  @if $size == phone-only {
    @media only screen and (max-width: $bp-mobile) { @content; }
  } @else if $size == tablet-up {
    @media only screen and (min-width: $bp-mobile + 1) { @content; }
  } @else if $size == desktop-up {
    @media only screen and (min-width: $bp-tablet + 1) { @content; }
  } @else if $size == desktop-22-up {
    @media only screen and (min-width: $bp-desktop-22 + 1) { @content; }
  }
}

.prev-modal, .next-modal {
    position: absolute;
    cursor: pointer;
    font-size: $font-size-button;
    transition: 0.5s ease;
    color: $color-black;
}

.prev-modal:hover, .next-modal:hover {
    transform: scale(1.5);
    color: $color-black;
}

.prev-modal {
    left: 0;
    bottom: 0;
    margin-bottom: 1.5%;
    margin-left: 1.5%;
}

.next-modal {
    right: 0;
    bottom: 0;
    margin-bottom: 1.5%;
    margin-right: 1.5%;
}

.subcategory {
    font-size: $font-size-subcategory;
    font-weight: $font-weight-subcategory;
}

.details {
    font-size: $font-size-details;
    margin-left: 15px;
}

.button-found {
    width: 100%;
}

.list-title {
    color: $color-black;
    font-size: 24px;
}