.FormHome {
    padding: 5em 2em;
    width: 100%;
    margin: 0 auto;
}

// turn off number input spinner
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
