// Colors
$color-darker-blue: #031c42;
$color-off-white: #f1f1f1;

// Heights
$height-header: 60px;
$height-main: 1000px;
$height-main-desktop: 800px;
$height-post: 600px;

.headers2 + .homepage-pic {
    padding-top: 60px;
}

.homepage-pic {
    height: 100vh;
    background-color: black;
    background-image: url('../images/homepage.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center;
}

.homepage-pic-title {
  color: white;
  
  font-size: 50px;
}

.get-started-text {
  //width: 50%;
  font-size: 30px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  opacity: 0.8;
}

.get-started-text:hover {
  cursor: pointer;
  opacity: 1;
}